asgiref==3.7.2
cloudinary==1.38.0
decorator==4.4.2
Django==3.2.24
django-cloudinary-storage==0.3.0
django-filter==23.5
djangorestframework==3.14.0
imageio==2.34.0
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.4
pillow==10.2.0
proglog==0.1.10
python-magic==0.4.27
pytz==2024.1
sqlparse==0.4.4
tqdm==4.66.2
